.btn-primary {
  background: $color-primary;
  border-radius: 9px;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0;
  &:hover,
  &:focus,
  &:active {
    background-color: $color-primary-hover;
  }

  &:visited {
    color: #fff;
  }
}

.btn-lg {
  @extend h4;
  height: 56px;
}