.cart-container {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 55%;
        background-color: #F6F6F6;
        border-right: 1px solid $color-primary;
    }
}

.cart-main {
    z-index: 9;
    position: relative;
    flex-wrap: wrap;
}

.cart-left {
    width: 55%;
    padding-right: 45px;
}

.cart-right {
    width: 45%;
    padding-left: 45px;
}

.cart-item-images {
    width: 160px;
    border-radius: 0;
    &:before {
        padding-top: 100%;
    }
    .image-form-content {
        background-color: #D7D8D9;
    }
}

.cart-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.cart-left {
    .title-box {
        margin-bottom: 30px;
        i {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

.cart-item-title {
    margin-bottom: 10px;
}

.cart-item-txt {
    @media screen and (min-width: 1280px) {
        font-size: 17px;
    }
}

.cart-item {
    margin-bottom: 40px;
}

.cart-list {
    border-bottom: 1px solid $color-primary;
    margin-bottom: 25px;
}

.cart-top-mobile {
    margin-top: 180px;
    @media screen and (max-width: 576px) {
        background-color: #E5E5E5;
        height: 90px;
    }
}

.cart-logo {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.cart-breadcrumb {
    margin-top: 30px;
    @media screen and (min-width: 768px) {
        margin-top: 20px;
        a {
            font-size: 17px !important;
        }
    }
}

.cart-form {
    border-bottom: 1px solid $color-primary;
    margin-top: 35px;
}

.form-group {
    label {
        line-height: 1.0;
        @media screen and (min-width: 1280px) {
        //    font-size: 22px;
           margin-bottom: 15px; 
           font-size: 20px;
        }
    }
    .form-input {
        border: 0.75px solid #7F7F7F;
        border-radius: 9px;
        width: 100%;
        padding: 0 18px;
        margin-bottom: 18px;
        height: 40px;
        &::placeholder {
            color: #777;
        }
        @media screen and (min-width: 1280px) {
            font-size: 20px;
            height: 51px;
        }
        &:hover,
        &:focus {
            border-color: $color-primary;
        }
    }
    .form-check {
        display: flex;
        @media screen and (min-width: 1280px) {
            font-size: 18px;
        }
    }
    .row {
        margin-left: -9px;
        margin-right: -9px;
        [class*="col-"] {
            padding-left: 9px;
            padding-right: 9px;
        }
    }
    input {
        width: 22px;
        height: 22px;
        margin-right: 12px;
    }
}

.card-form-item {
    margin-bottom: 40px;
}

.cart-form-bottom {
    margin-top: 30px;
}

.cart-form-bottom-link {
    i {
        color: $color-primary;
        margin-right: 10px;
    }
}

.cart-menu-list {
    margin-top: 80px;
    margin-bottom: 60px;
    padding-top: 10px;
    border-top: 1px solid $color-primary;
}

.cart-menu-link {
    @media screen and (min-width: 1280px) {
        font-size: 17px;
    }
}

.cart-code-form {
    gap: 40px;
}

.cart-page {
    @media screen and (min-width: 1024px){
        .header-box,
        .footer-box {
            display: none;
        }
    }
    .cart-main {
        padding-top: 100px;
    }
}