.cart-container {
    position: relative;
    @media all and (min-width: 1024px){
        &:not(.bg-transparent ){
            &:before {
                background-color: #F6F6F6;
            }
        }
        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 55%;
            border-right: 1px solid $color-primary;
        }
    }
}

.cart-main {
    z-index: 9;
    position: relative;
    flex-wrap: wrap;
}

.cart-left {
    width: 100%;
    @media all and (min-width: 1024px){
        width: 55%;
        padding-right: 45px;
    }
}

.cart-right {
    width: 100%;
    @media all and (min-width: 1024px){
        width: 45%;
        padding-left: 45px;
    }
    .breadcrumb-box {
        @media all and (max-width: 768px){
            font-size: 17px;
        }
    }
}

.cart-item-images {
    width: 80px;
    border-radius: 0;
    @media all and (min-width: 1024px){
        width: 160px;
    }
    &:before {
        padding-top: 100%;
    }
    .image-form-content {
        background-color: #D7D8D9;
    }
}

.cart-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    @media all and (min-width: 1024px){
        gap: 40px;
    }
}

.cart-left {
    .title-box {
        margin-bottom: 30px;
        text-transform: none;
        i {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

.cart-item-title {
    margin-bottom: 10px;
    @media screen and (max-width: 1024px) {
        font-size: 16px;
    }
}

.cart-item-txt {
    @media screen and (min-width: 1280px) {
        font-size: 17px;
    }
}

.cart-item {
    margin-bottom: 20px;
    @media all and (min-width: 1024px){
        margin-bottom: 40px;
    }
}

.cart-item-detail {
    flex: 1;
}

.cart-list {
    border-bottom: 1px solid $color-primary;
    margin-bottom: 25px;
}

.cart-top-mobile {
    @media all and (min-width: 1024px){
        margin-top: 150px;
    }
    @media all and (min-width: 1280px){
        margin-top: 180px;
    }
    @media screen and (max-width: 768px) {
        background-color: #E5E5E5;
        height: 60px;
        margin-left: -10px;
        margin-right: -10px;
        padding: 0 10px;
        margin-bottom: 20px;
    }
    .title-box {
        margin-top: 0;
        @media all and (min-width: 1024px){
            border-bottom: 1px solid #F2881D;
        }
        &, i {
            @media all and (max-width: 1280px){
                font-size: 17px;
            }
        }
        @media screen and (max-width: 768px) {
            padding: 0;
            margin: 0;
        }
    }
}

.cart-logo {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.cart-breadcrumb {
    margin-top: 30px;
    @media screen and (min-width: 768px) {
        margin-top: 20px;
        a, span {
            font-size: 17px !important;
        }
    }
}

.d-lg-flex {
    @media all and (min-width: 1024px){
        display: flex !important;
    }
}

.cart-form {
    border-bottom: 1px solid $color-primary;
    margin-top: 35px;
}

.form-group {
    label {
        line-height: 1.0;
        font-size: 17px;
        @media screen and (min-width: 1280px) {
        //    font-size: 22px;
           margin-bottom: 15px; 
           font-size: 20px;
        }
    }
    .form-input {
        border: 0.75px solid #7F7F7F;
        border-radius: 9px;
        width: 100%;
        padding: 0 18px;
        margin-bottom: 14px;
        height: 45px;
        font-size: 15px;
        &::placeholder {
            color: #777;
        }
        @media screen and (min-width: 1280px) {
            font-size: 20px;
            height: 51px;
            margin-bottom: 18px;
        }
        &:hover,
        &:focus {
            border-color: $color-primary;
        }
    }
    .form-check {
        display: flex;
        font-size: 16px;
        line-height: 1.3;
        @media screen and (min-width: 1280px) {
            font-size: 18px;
        }
    }
    .row {
        margin-left: -9px;
        margin-right: -9px;
        [class*="col-"] {
            padding-left: 9px;
            padding-right: 9px;
        }
    }
    input {
        width: 22px;
        height: 22px;
        margin-right: 12px;
    }
    .form-note {
        margin-bottom: 25px;
        font-size: 15px;
        @media all and (min-width: 1024px){
            font-size: 18px;
        }
    }
}

.card-form-item {
    margin-bottom: 30px;
    @media screen and (min-width: 1024px) {
        margin-bottom: 40px;
    }
}

.cart-form-bottom {
    margin-top: 30px;
}

.cart-form-bottom-link {
    i {
        color: $color-primary;
        margin-right: 10px;
    }
}

.cart-menu-list {
    margin-top: 30px;
    padding-top: 10px;
    border-top: 1px solid $color-primary;
    flex-wrap: wrap;
    @media screen and (min-width: 1024px){
        margin-top: 80px;
        margin-bottom: 60px;
    }
}

.cart-menu-link {
    @media screen and (min-width: 1280px) {
        font-size: 17px;
    }
}

.cart-code-form {
    gap: 20px;
    @media screen and (min-width: 1024px){
        gap: 40px;
    }
}

.cart-page {
    @media screen and (min-width: 1024px){
        .header-box,
        .footer-box {
            display: none;
        }
    }
    .breadcrumb-box {
        @media all {

        }
    }
}

.cart-main {
    @media screen and (min-width: 1024px){
        padding-top: 100px;
    }
    > .cart-left:first-child {
        @media all and (max-width: 768px){
            position: relative;
            padding-bottom: 30px;
            * {
                position: relative;
                z-index: 1;
            }
            &:before {
                content: '';
                background-color: #FAFAFA;
                left: -10px;
                right: -10px;
                bottom: 0;
                border-bottom: 1px solid #7F7F7F;
                position: absolute;
                top: 0;
            }
        }
    }
}

.form-radio {
    position: relative;
    display: flex;
    min-height: 70px;
    align-items: center;
    border: 0.75px solid #7F7F7F;
    border-radius: 9px;
    padding: 10px 20px;
    .form-radio-icon {
        width: 23px;
        height: 23px;
        border-radius: 50%;
        border: 1px solid #7F7F7F;
        margin-right: 26px;
    }
    input {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        &:checked {
            + .form-radio-icon {
                background-color: #000;
            }
        }
    }
    + .form-radio {
        margin-top: 25px;
    }
}

.form-label-static {
    height: 85px;
    border: 0.75px solid #7F7F7F;
    border-radius: 9px;
    padding: 10px 17px;
    + .form-label-static {
        margin-top: 22px;
    }
}

.form-label-note {
    color: #777;
    margin-bottom: 2px;
}

.form-label-link,
.form-label-txt,
.form-label-note {
    font-size: 15px;
    @media all and (min-width: 768px){
        font-size: 20px;
    }
}

.form-label-txt {
    color: #000;
    margin-bottom: 0;
}

.form-label-link {
    color: $color-primary;
    border-bottom: 1px solid $color-primary;
    white-space: nowrap;
}

.btn-finished {
    font-size: 20px;
    height: 50px;
    @media all and (min-width: 768px){
        font-size: 22px;
        height: 56px;
    }
}