.cart-container {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 50%;
        background-color: #F6F6F6;
        border-left: 1px solid $color-primary;
    }
}

.cart-main {
    z-index: 9;
    position: relative;
}

.cart-left,
.cart-right {
    padding: 40px;
    width: 50%;
}

.cart-item-images {
    width: 160px;
    border-radius: 0;
    &:before {
        padding-top: 100%;
    }
    .image-form-content {
        background-color: #D7D8D9;
    }
}

.cart-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}

.cart-left {
    .title-box {
        margin-bottom: 30px;
        i {
            font-size: 20px;
            margin-right: 10px;
        }
    }
}

.cart-item-title {
    margin-bottom: 10px;
}

.cart-item-txt {
    @media screen and (min-width: 1280px) {
        font-size: 17px;
    }
}

.cart-item {
    margin-bottom: 40px;
}

.cart-list {
    border-bottom: 1px solid $color-primary;
    margin-bottom: 25px;
}

.cart-top-mobile {
    @media screen and (max-width: 576px) {
        background-color: #E5E5E5;
        height: 90px;
    }
}

.cart-logo {
    @media screen and (max-width: 767px) {
        display: none;
    }
}

.cart-breadcrumb {
    margin-top: 30px;
    @media screen and (min-width: 768px) {
        margin-top: 20px;
        a {
            font-size: 17px !important;
        }
    }
}

.cart-form {
    border-bottom: 1px solid $color-primary;
}

.form-group {
    label {
        line-height: 1.0;
        @media screen and (min-width: 1280px) {
           font-size: 22px;
           margin-bottom: 15px; 
        }
    }
    .form-input {
        border: 0.75px solid #7F7F7F;
        border-radius: 9px;
        height: 51px;
        width: 100%;
        padding: 0 18px;
        font-size: 20px;
        margin-bottom: 18px;
        &::placeholder {
            color: #777;
        }
    }
    .form-check {
        font-size: 20px;
        display: flex;
    }
    .row {
        margin-left: -9px;
        margin-right: -9px;
        [class*="col-"] {
            padding-left: 9px;
            padding-right: 9px;
        }
    }
    input {
        width: 22px;
        height: 22px;
        margin-right: 12px;
    }
}

.card-form-item {
    margin-bottom: 25px;
}