.footer-box {
    background-image: url('../../webassets/images/bg-footer.png');
    position: relative;
    padding: 68px 0 62px 0;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #4C4C4C, $alpha: 0.72);
    }
    &, a, h4 {
        color: #fff;
    }
    p {
        margin: 0;
        + p {
            margin-top: 10px;
        }
    }
}

.footer-menu-content {
    + .footer-menu-content {
        margin-top: 40px;
    }
}

.footer-bottom {
    border-top: 1px solid $color-primary;
    position: relative;
    z-index: 1;
    padding-top: 30px;
    span {
        text-transform: uppercase;
    }
    .footer-social-list {
        margin-left: 52px;
    }
}

.footer-menu-title {
    margin-bottom: 35px;
}