.footer-box {
    background-image: url('../../webassets/images/bg-footer.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 40px 0;
    margin-top: 50px;
   @media all and (min-width: 1280px){
       margin-top: 100px;
       padding: 68px 0 62px 0;
   }
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: #4C4C4C, $alpha: 0.72);
    }
    &, a, h4 {
        color: #fff;
    }
    p {
        margin: 0;
        + p {
            margin-top: 5px;
        }
    }
    p, a, .footer-menu-text {
        line-height: 28px;
    }
}

.footer-social-link {
    padding: 5px 14px;
    display: inline-block;
    &:hover {
        color: $color-primary;
    }
}

.footer-menu-content {
    line-height: 30px;
    + .footer-menu-content {
        margin-top: 40px;
    }
}

.footer-bottom {
    border-top: 1px solid $color-primary;
    position: relative;
    z-index: 1;
    padding-top: 20px;
    margin-top: 30px;
    @media all and (min-width: 576px){
        margin-top: 50px;
        padding-top: 30px;
    }
    span {
        text-transform: uppercase;
        @media screen and (max-width: 576px) {
            display: none;
        }
    }
    .footer-social-list {
        @media all and (min-width: 768px){
            margin-left: 30px;
        }
        @media all and (min-width: 1024px){
            margin-left: 52px;
        }
        @media all and (max-width: 576px){
            justify-content: center;
            width: 100%;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }

    .footer-copy {
        @media screen and (max-width:576px) {
            text-align: center !important;
        }
    }
}

.footer-menu-title {
    margin-bottom: 35px;
    @media all and (max-width: 576px){
        font-size: 20px;
        margin-bottom: 20px;
    }
}

.footer-menu-icon {
    width: 36px;
    i {
        font-size: 17px;
        line-height: 23px;
        width: 17px;
        text-align: center;
    }
}

.footer-menu-text {
    flex: 1;
    max-width: 290px;
}

.footer-menu-item {
    + .footer-menu-item {
        margin-top: 5px;
        @media all and (min-width: 576px){
            margin-top: 15px;
        }
    }
}

.footer-menu {
    [class*="col-md-"] {
        +  [class*="col-md-"] {
            @media all and (max-width: 768px) {
                margin-top: 30px;
            }
        }
    }
}