.pagination-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    @media screen and (min-width: 1280px) {
        justify-content: start;
        margin-bottom: 0;
    }
}

.pagination-item {
    a, span {
        height: 21px;
        padding: 0 5px;
        min-width: 23px;
        border-width: 1px;
        border-style: solid;
        border-radius: 3px;
        border-color: transparent;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a {
        &:hover,
        &:focus,
        &:active,
        &.active {
            border-color: $color-primary;
            color: $color-primary;
        }
    }
    + .pagination-item {
        margin-left: 5px;
    }
    [class*="pagination-"] {
        color: $color-primary;
        font-size: 18px;
        &, i {
            line-height: 21px;
        }
    }
}