.swiper-content {
   width: 100%; 
}

.swiper-pagination {
    height: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    @media all and (min-width: 1280px){
        height: 65px;
    }
}

.swiper-pagination-bullet {
    width: 9px;
    height: 9px;
    background-color: #D1D1D1;
    opacity: 1;
}

.you-like-content {
    margin-top: 20px;
}

.swiper-pagination-bullet-active {
    background-color: #4C4C4C;
    opacity: 0.72;
    border-radius: 4px;
    height: 9px;
    width: 54px;
}

.swiper-next,
.swiper-prev {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);
    z-index: 999;
    cursor: pointer;
    opacity: 0.8;
    width: 40px;
    text-align: center;
    img {
        width: 24px;
    }
    &:hover {
        opacity: 1;
    }
}

.swiper-prev {
    left: 10px;
    transform: rotate(-180deg);
}

.swiper-next {
    right: -10px;
}

.swiper-button-disabled {
    display: none;
}