body {
  font-family: 'Roboto', sans-serif !important;
  font-size: 15.5px;
  color: #333; }

h3 {
  font-size: 27px; }

h4, .btn-lg, .header-search-form input, .header-card {
  font-size: 20px; }

h5 {
  font-size: 17px; }

h6 {
  font-size: 16px; }

a {
  color: #333; }
  a:hover, a:focus, a:active {
    color: #F2881D; }

ul {
  padding: 0;
  margin: 0; }
  ul li {
    list-style: none; }

.container {
  max-width: 1415px; }

.title-box {
  display: block;
  color: #000;
  line-height: 1.0;
  padding-bottom: 10px;
  border-bottom: 1px solid #F2881D;
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 50px; }

.btn-primary {
  background: #F2881D;
  border-radius: 9px;
  color: #fff;
  text-align: center;
  padding: 0 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 0; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #955311; }
  .btn-primary:visited {
    color: #fff; }

.btn-lg {
  height: 56px; }

.swiper-content {
  width: 100%; }

.swiper-pagination {
  height: 65px;
  display: flex;
  align-items: flex-end;
  justify-content: center; }

.swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: #D1D1D1;
  opacity: 1; }

.you-like-content {
  margin-top: 20px; }

.swiper-pagination-bullet-active {
  background-color: #4C4C4C;
  opacity: 0.72;
  border-radius: 4px;
  height: 9px;
  width: 54px; }

.swiper-next,
.swiper-prev {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  z-index: 999;
  cursor: pointer;
  opacity: 0.8;
  width: 40px;
  text-align: center; }
  .swiper-next img,
  .swiper-prev img {
    width: 24px; }
  .swiper-next:hover,
  .swiper-prev:hover {
    opacity: 1; }

.swiper-prev {
  left: 10px;
  transform: rotate(-180deg); }

.swiper-next {
  right: -10px; }

.swiper-button-disabled {
  display: none; }

::placeholder {
  color: #333; }

.header-box {
  padding-top: 70px; }

.header-search {
  max-width: 333px;
  width: 100%; }

.header-search-form {
  position: relative;
  width: 100%; }
  .header-search-form input {
    border-color: #F2881D;
    border-width: 0 0 1px 0;
    background-color: #fff;
    padding: 0;
    height: 45px;
    width: 100%; }

input:focus {
  outline: none; }

.header-top {
  justify-content: space-between; }

.header-search-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center; }

.header-search,
.header-card {
  margin-top: 20px; }

.header-card {
  width: 100%;
  max-width: 243px;
  display: flex;
  justify-content: center;
  align-items: baseline; }
  .header-card span {
    line-height: 1.0; }
  .header-card img {
    width: 24px;
    margin-left: 12px; }

.header-card-link {
  display: flex;
  align-items: flex-end;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #F2881D;
  padding: 13px 0; }

.header-menu {
  margin-top: 45px;
  margin-bottom: 45px; }

.header-menu-list {
  display: flex;
  justify-content: center;
  align-items: center; }

.header-menu-link {
  padding: 7px 12px;
  display: inline-block;
  text-transform: uppercase;
  color: #000; }

.footer-box {
  background-image: url("../../webassets/images/bg-footer.png");
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 68px 0 62px 0;
  margin-top: 100px; }
  .footer-box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(76, 76, 76, 0.72); }
  .footer-box, .footer-box a, .footer-box h4, .footer-box .btn-lg, .footer-box .header-search-form input, .header-search-form .footer-box input, .footer-box .header-card {
    color: #fff; }
  .footer-box p {
    margin: 0; }
    .footer-box p + p {
      margin-top: 5px; }
  .footer-box p, .footer-box a, .footer-box .footer-menu-text {
    line-height: 28px; }

.footer-social-link {
  padding: 5px 14px;
  display: inline-block; }
  .footer-social-link:hover {
    color: #F2881D; }

.footer-menu-content {
  line-height: 30px; }
  .footer-menu-content + .footer-menu-content {
    margin-top: 40px; }

.footer-bottom {
  border-top: 1px solid #F2881D;
  position: relative;
  z-index: 1;
  padding-top: 30px;
  margin-top: 50px; }
  .footer-bottom span {
    text-transform: uppercase; }
  .footer-bottom .footer-social-list {
    margin-left: 52px; }

.footer-menu-title {
  margin-bottom: 35px; }

.footer-menu-icon {
  width: 36px; }
  .footer-menu-icon i {
    font-size: 17px;
    line-height: 23px;
    width: 17px;
    text-align: center; }

.footer-menu-text {
  flex: 1;
  max-width: 290px; }

.footer-menu-item + .footer-menu-item {
  margin-top: 15px; }

.footer-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #EDEDED;
  padding: 30px 0 35px 0;
  z-index: 100; }

.footer-sticky-item {
  max-width: 80px;
  max-height: 80px; }
  .footer-sticky-item + .footer-sticky-item {
    margin-left: 45px; }

.footer-sticky-title {
  margin-bottom: 20px; }

.footer-sticky-list {
  margin-top: 25px; }

.footer-sticky-price {
  max-width: 240px;
  width: 100%; }

.footer-sticky-action {
  max-width: 330px;
  text-align: center;
  margin-top: 10px; }

.footer-sticky-link {
  margin-top: 30px;
  display: inline-flex; }

.product-slider {
  margin-top: 20px; }
  .product-slider .swiper {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto; }
  .product-slider .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 80px) / 2) !important;
    display: flex;
    justify-content: center;
    align-items: center; }

.product-detail-box {
  display: flex;
  flex-wrap: wrap;
  margin-left: -25px;
  margin-right: -25px; }

.product-detail-left {
  padding-left: 25px;
  padding-right: 25px;
  width: 55%; }

.product-detail-right {
  padding-left: 25px;
  padding-right: 25px;
  width: 45%; }

.product-detail-content {
  margin-top: 60px; }

.customer-suggest-avatar {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 1px solid #F2881D;
  overflow: hidden; }

.customer-suggest-text {
  margin-left: 7px;
  font-weight: 500; }

.customer-suggest-name {
  font-size: 15px;
  line-height: 1.3;
  margin-bottom: 5px;
  color: #F2881D; }
  .customer-suggest-name:hover {
    color: #955311; }

.customer-suggest-date {
  color: #A5A5A5;
  font-size: 12px;
  margin-bottom: 0; }

.customer-suggest-content {
  background-color: #F6F6F6;
  border-radius: 6px;
  padding: 14px 15px;
  position: relative;
  margin-bottom: 15px; }
  .customer-suggest-content::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #F6F6F6;
    position: absolute;
    left: 44px;
    top: 100%; }

.customer-suggest-top {
  justify-content: space-between;
  margin-bottom: 12px;
  font-size: 16px; }

.customer-suggest-content {
  color: #000;
  font-size: 15px; }
  .customer-suggest-content a {
    text-decoration: underline; }
  .customer-suggest-content p {
    margin-bottom: 10px; }

.customer-suggest {
  margin-bottom: 10px; }

.you-like-images {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 9px; }
  .you-like-images:before {
    content: "";
    display: block;
    padding-top: 132.1%; }

.you-like-images-content {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover; }
  .you-like-images-content img {
    max-width: 100%;
    position: relative; }

.you-like-link {
  color: #333; }

.suggest-box {
  border-top: 1px solid #F2881D; }

.suggest-title {
  margin-bottom: 15px; }

.text-primary {
  color: #F2881D; }

.font-weight-400 {
  font-weight: 400; }

.font-weight-500 {
  font-weight: 500; }

.star-list {
  display: flex;
  align-items: center;
  gap: 7px;
  font-size: 18px; }

.star-text {
  font-size: 17px;
  margin-left: 20px;
  color: #000; }

.product-detail-action {
  gap: 32px; }

.product-detail-info-content {
  justify-content: space-between; }

.product-detail-info {
  margin-bottom: 25px; }
